@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/frutiger-lt-arabic");

html,
body,
#root {
  font-family: "Frutiger LT Arabic", sans-serif;
  background: white;
  overflow-x: hidden;
}

* {
  transition: all 0.2s linear;
}

@layer components {
  .leftLineOnText {
    @apply relative pb-1 !mb-3 w-fit before:content-[''] before:h-[2px] before:bg-[#00567D] before:w-[calc(100%-40%)] before:absolute before:bottom-[-4px] before:left-0;
  }
}
